{% extends 'base.html' %}

{% block title %}
    Data Diagram
{% endblock %}

{% block content %} 
<div class="container mt-4">
    <h2 class="mb-3">Collapsible Hierarchical List</h2>
    {% for submodule in submodules %}
    <details>
        <summary><img src="../../static/images/module.png" height="25px", width="25px"/>  {{ submodule }}</summary>
        <ul>
            {% for block in blocks %}
            <li>
                <details>
                    {% if block.3 %}
                    <summary title="{{ block.2.0 }}"><img src="../../static/images/function.png" height="25px", width="25px"/> Line {{ block.0 }}: {{ block.1.0 }}</summary>
                    <ul>
                        <li>

                        </li>
                    </ul>
                    {% else %}
                    <summary title="{{ block.2.0 }}"><img src="../../static/images/class.png" height="25px", width="25px"/> Line {{ block.0 }}: {{ block.1.0 }}</summary>
                    <ul>
                        <li>

                        </li>
                    </ul>
                    {% endif %}
                </details>
            </li>
            {% endfor %}
        </ul>
    </details>
    {% endfor %}
</div>
{% endblock %}